<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Ben Newman</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
    />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/untitled.css"/>
</head>

<body
        id="page-top"
        data-bs-spy="scroll"
        data-bs-target="#mainNav"
        data-bs-offset="72"
>
<%- include("../partials/header.ejs") %>
<%- include("../partials/mainMast.ejs") %>
<section id="portfolio" class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary">Portfolio</h2>
        <hr class="star-dark mb-5"/>
        <div class="row">
            <% items.forEach(function(item){ %>
                <%- include("../partials/portfolioItem.ejs", {item:item}); %>
            <% }); %>
        </div>
    </div>
</section>
<section class="text-white bg-primary mb-0" id="about">
    <div class="container">
        <h2 class="text-uppercase text-center text-white">About</h2>
        <hr class="star-light mb-5"/>
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Hi, my name's Ben. I am a software engineering student at Solent
                    University in Southampton. I specialize in back end development
                    but I am interested and capable in a broad range of fields such as
                    database and software developing.
                </p>
                <p class="lead text-center">
                    I have a thorough knowledge of Test / Behaviour Driven Development
                    and Agile Development. I take pride in my ability to quickly take
                    up new programming languages and frameworks.
                </p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-outline-light btn-xl" role="button" href="/assets/CV.pdf"
            ><i class="fa fa-download me-2"></i><span>Download my CV</span></a
            >
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0">
            Contact Me
        </h2>
        <hr class="star-dark mb-5"/>
        <div class="row">
            <h3 class="text-center">benewman2002@gmail.com</h3>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs") %>

<div class="d-lg-none scroll-to-top position-fixed rounded">
    <a class="text-center d-block rounded text-white" href="#page-top"
    ><i class="fa fa-chevron-up"></i
        ></a>
</div>

<% items.forEach(function(item){ %>
    <%- include("../partials/portfolioModal.ejs", {item:item}); %>
<% }); %>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/freelancer.js"></script>
<script src="/assets/js/checkCookies.js"></script>
</body>
</html>
